<h1><%= @post.name %></h1>
<p><%= @post.content %></p>

<!-- delete button -->
<form action="/posts/<%= %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="text" value="delete">
</form>
